$primary-color: #f50049;
$main-font-color: #2d2829;
$subtext-font-color: rgba(47, 47, 47, 0.7);

$serif-font: 'Playfair Display', 'Times New Roman', serif;
$sans-serif-font: 'PT Sans', 'Arial', sans-serif;
