.about-us {
  position: relative;

  padding: 28px 73px 0 73px;
  margin-top: 177px;

  &::before {
    content: '';

    display: block;
    position: absolute;

    top: 0;
    right: 145px;

    width: 508px;
    height: 508px;

    background-image: url('../img/pavel-photo.jpg');
    background-size: 508px 508px;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  &::after {
    content: '';

    display: block;

    width: 149px;
    height: 73px;

    margin: 50px auto 0 auto;

    background-image: url('../img/pavel-quote.png');
    background-size: 149px 73px;
    background-repeat: no-repeat;
  }
}

.about-us__title {
  margin: 0 0 35px 0;

  font-size: 40px;
  line-height: 30px;
}

.about-us__subtitle {
  margin: 0;

  line-height: 35px;
  font-size: 35px;
}

.about-us__theme {
  font-size: 20px;

  margin: 0 0 12px 0;
}

.about-us__desc {
  width: 540px;

  margin: 0;

  font-size: 18px;

  &:nth-child(4) {
    margin-bottom: 25px;
  }
}

.about-us__social-links {
  margin-top: 24px;

  .about-us__social-links-item:nth-child(1) {
    margin-left: 0;
  }
}

.about-us__social-links-item {
  margin-left: 20px;

  width: 36px;
  height: 36px;
}

.about-us__quote {
  margin: 0 auto;

  width: 616px;

  text-align: center;
  font-size: 25px;

  &::before {
    content: url('../img/decor-quotes.svg');

    display: block;

    width: 61px;
    height: 40px;
  
    margin: 190px auto 42px auto;
  }
}