.our-cakes {
  padding: 0 73px;

  width: 100%;
}

.our-cakes__title {
  font-size: 40px;

  margin-bottom: 64px;
}

.our-cakes__wrapper {
  display: flex;

  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;

  width: 100%;
}

.our-cakes__item-wrapper {
  display: flex;

  flex-direction: column;
  justify-content: space-between;

  width: 483px;
  height: 652px;

  &:nth-child(even) {
    margin-left: 43px;
  }
  
  &:nth-child(odd) {
    margin-right: 43px;
  }
}

.our-cakes__item {
  position: relative;

  width: 695px;
  height: 652px;

  margin-bottom: 44px;

  text-decoration: none;
}

.our-cakes__item-wrapper .our-cakes__item {
  width: 100%;
}

.our-cakes__item-wrapper .our-cakes__item:last-child {
  margin-bottom: 0;
}

.our-cakes__item-img {
  position: absolute;

  z-index: -1;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
}

.our-cakes__item-name {
  position: absolute;

  left: 46px;
  top: 40px;
  
  font-size: 24px;
  color: #2d2829;
}

.our-cakes__item-count {
  position: absolute;

  left: 46px;
  top: 70px;

  font-size: 20px;
}

.our-cakes__item-link {
  position: absolute;

  display: block;

  right: 70px;
  bottom: 39px;

  color: transparent;
  font-size: 20px;

  &--active {
    color: #2d2829;
  }

  &::after {
    content: "";

    display: inline-block;

    width: 17px;
    height: 12px;

    margin-left: 27px;

    background-image: url('../img/decorCross.svg');
    background-size: 17px 12px;
    background-repeat: no-repeat;
  }
}